<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../Resouce/CSS/metro.css" rel="stylesheet" />
    <title>修改信息</title>
    <style type="text/css">
        btn {
            margin: 0 auto;
            width: 200px;
        }
    </style>
</head>
<body>
    <div class="container ">
        <h2 style="text-align: center">完善你的信息</h2>
        <!--<div class="example">-->
            <form>
                <div class="grid ">
                    <div class="row cells5">
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                            <div class="input-control text full-size">
                                学号：
                                <input class="stu_id" type="text" placeholder="请输入你学号....." />
                            </div>
                        </div>

                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                    </div>
                    <div class="row cells5">
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                            <div class="input-control text full-size">
                                姓名：
                                <input class="stu_name" type="text" placeholder="请输入你的姓名....." />
                            </div>
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                    </div>
                    <div class="row cells5">
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                            <div class="input-control text full-size">
                                班级：<input class="stu_class" type="text" placeholder="请输入你班级....."/>
                            </div>
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                    </div>
                            <div class="row cells5">
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                            <div class="input-control text full-size">
                                专业：
                                <input class="stu_major" type="text" placeholder="请输入你的专业....." />
                            </div>
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                    </div>
                    <div class="row cells5">
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                            <div class="input-control text full-size">
                                系别：
                                <input class="stu_dept" type="text" placeholder="请输入你的系别....." />
                            </div>
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                    </div>
                    <div class=" row cells5">
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell ">
                            <input type="button" class="button success" value="确定" />
                            <input type="reset" class="button primary right-side" value="清空" />
                        </div>
                        <div class="cell">
                        </div>
                        <div class="cell">
                        </div>
                    </div>
                </div>
            </form>
    <!--    </div>-->
    </div>
</body>
</html>
<!--外部引入的JS文件-->
<script src="../../Resouce/JS/jquery.js" type="text/javascript"></script>
<script src="../../Resouce/JS/bui.js" type="text/javascript"></script>
<script src="../../Resouce/JS/config.js" type="text/javascript"></script>
<script type="text/javascript">
    BUI.use('../../Resouce/JS/page');
</script>
<!--结束外部的引用-->
<!--本页面的引用-->
<script src="../../Control/JS/changeInfo.js"></script>
<!--结束本页面的引用-->
