<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../Resouce/CSS/metro.css" rel="stylesheet" />
    <title>作业</title>
</head>
<body>.
    <div class="example">
    </div>
</body>
</html>
<!--外部引入的JS文件-->
<script src="../../Resouce/JS/jquery.js" type="text/javascript"></script>
<script src="../../Resouce/JS/bui.js" type="text/javascript"></script>
<script src="../../Resouce/JS/config.js" type="text/javascript"></script>
<script type="text/javascript">
    BUI.use('../../Resouce/JS/page');
</script>
<!--结束外部的引用-->
<!--本页面的引用-->
<script src="../../Control/JS/stuWork.js"></script>
<!--结束本页面的引用-->
